@model IEnumerable<Model.DataModel.NewsDTO>

@{
    ViewBag.Title = "Tất cả dự án";
}

<main>
    <section id="banner-cate">
        <h1 style="display: none;">CÔNG TY CỔ PHẦN KIẾN TRÚC La Divad'</h1>
        <h4 style="display: none;">CÔNG TY CỔ PHẦN KIẾN TRÚC La Divad'</h4>
        <div class="avarta"><img src="~/Content/uploads/banner/Banner4.jpg" class="img-fluid" width="100%" alt="CÔNG TY Cổ Phần Kiến Trúc la Divad'"></div>
    </section>
    <section id="breadcrumbs" style="padding-top: 20px;padding-bottom: 20px;">
        <div class="container">
            <div class="content">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/"><img src="~/Content/public/frontend/images/home.png" class="img-fluid" alt="CÔNG TY Cổ Phần Kiến Trúc la Divad'"></a></li>
                    <li class="list-inline-item"><a style="color: white" href="javascipt:0">Dịch vụ</a></li>
                    
                </ul>
            </div>
        </div>
    </section>
    <section id="box-project" style="margin-bottom: 40px;">

        <div class="container">
            <div class="content">
                <div class="title"><h2 style="color: white"><span>Dự án của La Divad'Desgin </span></h2></div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content">
                <div class="tab-pane active show">
                    <div class="list-project">
                        <div class="container" id="postProjectAjax">
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-12 col-small">
                                        <div class="small">
                                            <div class="row">
                                                @foreach (var item in Model)
                                                {

                                                    <div class="col-md-3 col-sm-3 col-3 pt-4">
                                                        <div class="item-small">
                                                            <div class="avarta"><a href="/Project/Details/@item.Url">
                                                                <img src="~/uploads/news/@item.ImgMain" class="img-fluid" width="100%"></a>
                                                            </div>
                                                            <div class="info">
                                                                <h3><a href="/Project/Details/@item.Url" >@item.Title</a></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

        </div>
    </section>
</main>
