@model IEnumerable<Model.DataModel.MenuDTO>



@foreach (var l1 in Model)
{
    <li>
        <a href=""><a href="@l1.Url">@l1.Name</a></a>
        @if (l1.MenuSub.Count == 0)
        {

        }
        else
        {
            <ul>
                @foreach (var l2 in l1.MenuSub)
                {
                    <li>
                        <a style="color: black !important" href="@l2.Url">@l2.Name</a>
                    </li>
                }
            </ul>
        }

    </li>
}
