
<div class="tab-pane active show" id="tab-7">
    <div class="list-project">
        <div class="container" id="postProjectAjax">
            <div class="item">
                <div class="row">
                    <div class="col-md-6 col-small">
                        <div class="small">
                            <div class="row">
                                @Html.Action("Bt4", "ProjectInterior", new { tag = "Project" , project = "noi-that", projecttype = "biet-thu", take = 4, skip = 0 })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-big">
                        @Html.Action("Bt5", "ProjectInterior", new { tag = "Project", project = "noi-that", projecttype = "biet-thu", take = 1, skip = 4 })
                    </div>
                    <div class="col-md-6 col-big">
                        @Html.Action("Bt10", "ProjectInterior", new { tag = "Project", project = "noi-that", projecttype = "biet-thu", take = 1, skip = 5 })
                    </div>
                    <div class="col-md-6 col-small">
                        <div class="small">
                            <div class="row">
                                @Html.Action("Bt9", "ProjectInterior", new { tag = "Project", project = "noi-that", projecttype = "biet-thu", take = 4, skip = 6 })
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

