
@{
    ViewBag.Title = "Cofee";
}

<main>
    <section id="banner-cate">
        <div class="avarta"><img src="~/Content/uploads/about/banner-coffee.jpg" class="img-fluid" width="100%" alt="CÔNG TY Cổ Phần Kiến Trúc la Divad'"></div>
    </section>
    <section id="breadcrumbs">
        <div class="container">
            <div class="content">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/"><img src="~/Content/public/frontend/images/home.png" class="img-fluid" alt="Giới thiệu"></a></li>
                    <li class="list-inline-item"><span style="color: white">Giới thiệu</span></li>
                </ul>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="content">
                    <div class="list-about">
                        <div class="item">
                            <div class="row">
                                <div class=""> <img src="~/Content/uploads/about/toantranh.jpg"></div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-5">
                                            <div class="title"><h2 style=" font-family: 'Times New Roman'; color: #000000;"><span>𝐋𝐀 𝐃𝐈𝐕𝐀𝐃’ - 𝑪𝒐𝒇𝒇𝒆𝒆 & 𝑴𝒐𝒓𝒆</span></h2></div>
                                            <p style="color: black; text-align: center">"𝒾𝒻 𝒾𝓉 𝒾𝓈 𝒶𝓇𝓉, 𝒾𝓉 𝒾𝓈 𝓃ℴ𝓉 𝒻ℴ𝓇 𝒶𝓁𝓁 𝒶𝓃𝒹 𝒾𝒻 𝒾𝓉 𝒾𝓈 𝒻ℴ𝓇 𝒶𝓁𝓁, 𝒾𝓉 𝒾𝓈 𝓃ℴ𝓉 𝒶𝓇𝓉"</p>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="indo-item-about">
                                                <p style="color: black"><strong>Nguồn cảm hứng:</strong></p>
                                                <p style="color: black;font-size: 14px">
                                                    “ La Divad’ “ được lấy ý tưởng từ tác phẩm điêu khắc nổi tiếng đỉnh cao nghệ thuật thời Phục Hưng là bức tượng mang tên “David” do tác giả Michelangelo sáng tác. Cái tên La Divad’ nghe có vẻ lạ lẫm nhưng thực chất lại là lấy ý tưởng từ cách viết ngược tên của bức tượng David, tiếng La Divad’ vang lên như một tiếng nhạc để cùng ngược dòng thời gian tìm về với nguồn cội nghệ thuật đỉnh cao thế giới một thời.
                                                    La Divad’ toạ lạc giữa lòng ngã tư sở là ý tưởng về một không gian dành cho nghệ thuật, say mê cái đẹp: Nơi khơi gợi lại một thời nghệ thuật Phục Hưng kết hợp với những đường nét kiến trúc hiện tại một cách hài hoà. Từng chiếc ly, sofa hay chân bàn, những tác phẩm tượng nổi tiếng đều gợi lên những nét độc đáo, ẩn chứa trong đó đều mang hơi thở của miền ký ức Phục Hưng.
                                                </p>
                                                <p style="color: black"> <strong> Giá trị:</strong></p>
                                                <p style="color: black;font-size: 14px">
                                                    Đến với La Divad’ ngồi cùng nhau nhâm nhi những tách coffee, ly nước, thả mình để thư giãn để cùng lật lại dòng thời gian tìm về những miền ký ức tươi đẹp trong không gian mang đậm phong cách Châu Âu của La Divad’.
                                                    Một giá trị cốt lõi và đặc biệt nhất của La Divad’ là quý khách vừa có thể nhìn ngắm, sử dụng, thưởng thức và vừa có thể “mua” những bức tranh cổ điển, bàn, ghế sofa trong quán. đến với La Divad’ quý khách còn được tham gia vào những buổi workshop về nghệ thuật: âm nhạc, mỹ thuật thường xuyên.
                                                </p>
                                                <p style="color: black"> 𝑩𝒂̆̀𝒏𝒈 𝒕𝒂̂́𝒕 𝒄𝒂̉ 𝒕𝒂̂𝒎 𝒉𝒖𝒚𝒆̂́𝒕 𝒗𝒂̀ 𝒕𝒊̀𝒏𝒉 𝒚𝒆̂𝒖 𝑳𝒂 𝑫𝒊𝒗𝒂𝒅’ 𝒉𝒊 𝒗𝒐̣𝒏𝒈 𝒔𝒆̃ 𝒍𝒂̀ 𝒎𝒐̣̂𝒕 𝒏𝒐̛𝒊 𝒃𝒂̣𝒏 𝒏𝒈𝒉𝒊̃ 𝒕𝒐̛́𝒊 đ𝒂̂̀𝒖 𝒕𝒊𝒆̂𝒏, 𝒎𝒐̂̃𝒊 𝒌𝒉𝒊 𝒎𝒖𝒐̂́𝒏 𝒕𝒉𝒐𝒂́𝒕 𝒌𝒉𝒐̉𝒊 𝒏𝒉𝒖̛̃𝒏𝒈 𝒃𝒊́ 𝒃𝒂́𝒄𝒉 𝒏𝒐̛𝒊 𝒗𝒂̆𝒏 𝒑𝒉𝒐̀𝒏𝒈, 𝒏𝒉𝒖̛̃𝒏𝒈 𝒃𝒐̣̂𝒏 𝒃𝒆̂̀ 𝒍𝒐 𝒕𝒐𝒂𝒏 𝒄𝒖𝒐̣̂𝒄 𝒔𝒐̂́𝒏𝒈 đ𝒆̂̉ 𝒕𝒊̀𝒎 𝒎𝒐̣̂𝒕 𝒌𝒉𝒐𝒂̉𝒏𝒈 𝒍𝒂̣̆𝒏𝒈 𝒄𝒉𝒐 𝒓𝒊𝒆̂𝒏𝒈 𝒎𝒊̀𝒏𝒉!</p>
                                                <p style=" color: black">𝓛𝓪 𝓓𝓲𝓿𝓪𝓭 428  𝓣𝓪𝔂 𝓢𝓸𝓷</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class=""><img src="~/Content/uploads/project/t2.jpg" class="img-fluid" width="100%" alt="Đội ngũ nhân sự"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <div class="title"><h2 style=" font-family: 'Times New Roman'; color: #000000;"><span>Menu</span></h2></div>
                                </div>
                            </div>
                        </div>
                        <!--<section id="box-project" style="margin-bottom: 100px;">
                            <div class="tab-content">-->
                        <!--
                                                        <div class="tab-pane active" id="tab-12">
                        -->
                        <!--
                                                            <div class="list-project">
                        -->
                        <!--
                                                                <div class="container">
                        -->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-small">
                                    <div class="small">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-small">
                                                <div class="item-small">
                                                    <div class="avarta"><img src="~/Content/uploads/project/IMG_7923.jpg" alt="Thiết kế căn hộ Roman Plaza Đà Nẵng" class="img-fluid" width="100%" alt="Thiết kế căn hộ Roman Plaza Đà Nẵng"></a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="item-small">
                                                    <div class="avarta"><img src="~/Content/uploads/project/olong.jpg" alt="Thiết kế nội thất chung cư Discovery Complex 302 Cầu Giấy chú Khôi" class="img-fluid" width="100%" alt="Thiết kế nội thất chung cư Discovery Complex 302 Cầu Giấy chú Khôi"></a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="item-small">
                                                    <div class="avarta"><img src="~/Content/uploads/project/IMG_8355.jpg" alt="Thiết kế nội thất chung cư đẹp Discovery Complex 302 Cầu Giấy" class="img-fluid" width="100%" alt="Thiết kế nội thất chung cư đẹp Discovery Complex 302 Cầu Giấy"></a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="item-small">
                                                    <div class="avarta"><img src="~/Content/uploads/project/kemxoai.jpg" alt="Chung cư Vinhomes GreenBay: Nội thất tân cổ điển đẹp hút hồn" class="img-fluid" width="100%" alt="Chung cư Vinhomes GreenBay: Nội thất tân cổ điển đẹp hút hồn"></a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-big">
                                    <div class="big">

                                        <div class="avarta"><img src="~/Content/uploads/project/123.jpg" alt="Thiết kế căn hộ B6 Giảng Võ hiện đại và đẳng cấp" class="img-fluid" width="100%"></a></div>
                                    </div>

                                    <div class="big">
                                        <div class="avarta"><img src="~/Content/uploads/project/SETN.JPG" alt="Thiết kế căn hộ B6 Giảng Võ hiện đại và đẳng cấp" class="img-fluid" width="100%"></a></div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <div class="title"><h2 style=" font-family: 'Times New Roman'; color: #000000;"><span>Liên Hệ Đặt Bàn</span></h2></div>
                                    <h3 style="text-align: center;color: black">Thứ 2 đến Chủ Nhật 8:00 đến 23:00</h3>
                                    <div class="viewmore">
                                        <a style=" color: black;" href="tel: 02462929123" class="box first">Đặt Bàn Ngay: 0246 2929 123</a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="">
                                    <img src="~/Content/uploads/project/Nen.jpg" class="img-fluid" width="100%" alt="Đội ngũ nhân sự">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--</section>

                            &lt;!&ndash;<div class="item">&ndash;&gt;
                                &lt;!&ndash;<div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <div class="info-ab">
                                                <h2>Xưởng sản xuất</h2>
                                                <div class="indo-item-about">
                                                    <p>Thay v&igrave; phải đi nhập khẩu c&aacute;c sản phẩm nội thất từ những&nbsp;đơn vị kh&aacute;c, Ladivad Design sở hữu xưởng sản xuất đồ gỗ nội thất được trang bị những c&ocirc;ng nghệ sản xuất hiện đại với quy m&ocirc; tr&ecirc;n 2000m2. Từ nguy&ecirc;n liệu ch&iacute;nh l&agrave; 2 loại gỗ tự nhi&ecirc;n v&agrave; gỗ c&ocirc;ng nghiệp, 60 c&ocirc;ng nh&acirc;n v&agrave; thợ l&agrave;nh nghề thi c&ocirc;ng c&aacute;c bản vẽ thiết kế th&agrave;nh những sản phẩm chất lượng, thẩm mỹ cao v&agrave; đảm bảo về t&iacute;nh bền bỉ theo thời gian.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="avarta"><img src="uploads\about\1585989676-C0194T01.JPG" class="img-fluid" width="100%" alt="Xưởng sản xuất"></div>
                                    </div>
                                </div>
                            </div>&ndash;&gt;

                       &lt;!&ndash; </div>
                    </div>
                </div>&ndash;&gt;

            </section>-->
        </section>
    </section>
    <!--<div class="moveto-top">
        <a href="#top" class="movetotop-btn">
            <img style="max-width: 70px" src="..\uploads\contact\up-arrow.png">
        </a>
    </div>-->
</main>

