
@{
    ViewBag.Title = "Về đơn vị thiết kế";
}

<main id="w-cate">
    <section id="banner-cate">
        <div class="avarta"><img src="~/Content/uploads/about/banner.jpg" class="img-fluid" width="100%" alt="CÔNG TY Cổ Phần Kiến Trúc la Divad'"></div>
    </section>
    <section id="breadcrumbs">
        <div class="container">
            <div class="content">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/"><img src="~/Content/public/frontend/images/home.png" class="img-fluid" alt="Giới thiệu"></a></li>
                    <li class="list-inline-item"><span style="color: white;font-size: 14px;text-align: center">La Divad' Design</span></li>
                </ul>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="content">
                    <div class="list-about">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <div class="title">
                                        <h2 style=" font-family: 'Times New Roman'; color: #000000;"><span>𝐋𝐀 𝐃𝐈𝐕𝐀𝐃' 𝐃𝐄𝐒𝐈𝐆𝐍</span></h2>
                                        <p style="color: black; text-align: center">"NGHỆ THUẬT TRONG TỪNG KHÔNG GIAN SỐNG"</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="indo-item-about">
                                        <div class="info-details aa">
                                            <h2 style="text-align: justify;"><span style="color: black; font-family: 'Times New Roman';font-size: 20px">1. LỊCH SỬ HÌNH THÀNH </span></h2>
                                            <p style="text-align: justify;color: black;font-size: 15px">"𝓝𝓰𝓱𝓮̣̂ 𝓽𝓱𝓾𝓪̣̂𝓽 𝓽𝓻𝓸𝓷𝓰 𝓽𝓾̛̀𝓷𝓰 𝓴𝓱𝓸̂𝓷𝓰 𝓰𝓲𝓪𝓷 𝓼𝓸̂́𝓷𝓰"</p>
                                            <!--
                                            <p style="text-align: justify;"> Nếu bạn muốn có một căn nhà đẹp, thỏa mãn ước mơ và cá tính của mình thì hãy liên hệ ngay với La Divad’ nhé <3 &nbsp;&nbsp;&nbsp;</p>
                -->
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                Công ty cổ phần thiết kế kiến trúc và nội thất La Divad’ được thành lập năm 2018 tại Hà Nội, Việt Nam. Năm 2019 La Divad’ có thêm cơ sở 2: Coffee & office  428 Tây Sơn,Đống Đa,Hà Nội. Người sáng lập thương hiệu La Divad’ là nhà thiết kế nội thất đã có hơn 8 năm kinh nghiệm trong lĩnh vực thiết kế trnag trí nội thất.
                                            </p>
                                            <p style="text-align: justify;color: black;font-size: 15px">Là công ty thiết kế, thi công nội thất có phong cách độc đáo hàng đầu tại Việt Nam, La Divad' luôn lắng nghe những nguyện vọng, ý tưởng của khách hàng về căn phòng mơ ước, và hiện thực hóa nó bằng những thiết kế độc đáo, ấn tượng, hài hòa. Tư vấn tận tình, gói ghém những giấc mơ đẹp nhất, kết hợp với xu hướng kiến trúc tinh tế từ quá khứ tới hiện tại để biến ngôi nhà thành chốn dừng chân lý tưởng nhất, đi đâu cũng muốn trở về!</p>
                                            <p style="text-align: justify;color: black;font-size: 15px">Hiện tại, La Divad’ Design chuyên thực hiện những dự án thiết kế và thi công trang trí nội, ngoại thất cho các căn hộ cá nhân, biệt thự, nhà hàng, coffee, khách sạn, resorts. </p>
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                📍Cơ sở chính: 177 Lê Lai,Hà Cầu,Hà Đông,Hà Nội, và cơ sở 2: coffee & office  428 Tây Sơn,Đống Đa,Hà Nội.
                                            </p>
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                ☎ Hotline: 0833 993 998
                                            </p>
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                💌 Gmail: Ladivad.arc@gmail.com
                                            </p>
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                🌎  website: ladivad.vn
                                            </p>

                                        </div>

                                        <div class="info-details aa">
                                            <h2 style="text-align: justify;"><span style="color: black; font-family: 'Times New Roman';font-size: 20px"> 2. KHẲNG ĐỊNH THƯƠNG HIỆU</span></h2>
                                            <p style="text-align: justify;color: black;font-size: 15px">
                                                Thương hiệu La Divad’ đã được khẳng định là một công ty thiết kế nội thất ấn tượng, uy tín và chuyên môn cao. Đến với chúng tôi - nơi mọi nhu cầu của cư dân đều được đáp ứng ngay ngưỡng cửa. Các công trình thiết kế mang tới cho lớp cư dân hiện đại tại Thủ Đô trải nghiệm sống mới, vừa mang đậm nét hiện đại, thanh lịch vừa mang hơi thở cổ điển của kiến trúc phương Tây.
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLaDivad.vn%2F&tabs&width=500&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=538906190214821" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--<div class="moveto-top">
        <a href="#top" class="movetotop-btn">
            <img style="max-width: 70px" src="..\uploads\contact\up-arrow.png">
        </a>
    </div>-->
</main>

