
@{
    ViewBag.Title = "Giới Thiệu";
}

<main>
    <section id="banner-cate">
        <h1 style="display: none;">CÔNG TY CPĐT & THIẾT KẾ NỘI THẤT La Divad'</h1>
        <h3 style="display: none;">CÔNG TY CPĐT & THIẾT KẾ NỘI THẤT La Divad'</h3>
        <h4 style="display: none;">CÔNG TY CPĐT & THIẾT KẾ NỘI THẤT La Divad'</h4>
        <div class="avarta"><img src="~/Content/uploads\about\banner-about.jpg" class="img-fluid" width="100%" alt="CÔNG TY CPĐT & THIẾT KẾ NỘI THẤT Ladivad"></div>
    </section>
    <section id="breadcrumbs">
        <div class="container">
            <div class="content">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/"><img src="~/Content/public/frontend/images/home.png" class="img-fluid" alt="Giới thiệu"></a></li>
                    <li class="list-inline-item"><a href="" style="color:white;">Giới Thiệu</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="content">
                <div class="list-about">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="info-ab">
                                        <h2>Về La Divad' Design</h2>
                                        <div class="indo-item-about">
                                            <p style="font-size: 14px;color:#787575;">La Divad' Design l&agrave; c&ocirc;ng ty c&oacute; bề d&agrave;y kinh nghiệm trong lĩnh vực thiết kế v&agrave; thi c&ocirc;ng nội thất. Với b&agrave;n tay v&agrave; khối &oacute;c s&aacute;ng tạo, đội ngũ La Divad' Design đ&atilde; thiết kế v&agrave; thi c&ocirc;ng h&agrave;ng trăm c&ocirc;ng tr&igrave;nh v&agrave; dự &aacute;n ở H&agrave; Nội v&agrave; c&aacute;c tỉnh th&agrave;nh l&acirc;n cận miền Bắc.</p>

                                            <p style="font-size: 14px;color:#787575;">&gt;&gt;&gt; Xem th&ecirc;m: Lịch sử h&igrave;nh th&agrave;nh c&ocirc;ng ty <strong><a href="/AboutUs/Degin">tại đ&acirc;y</a>!</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="avarta"><img src="~/Content/uploads\about\about.jpg" class="img-fluid" width="100%" alt="Về La Divad' Design"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="info-ab">
                                        <h2>Dịch vụ của chúng tôi</h2>
                                        <div class="indo-item-about">
                                            <p style="font-size: 14px;color: #807e7e"><strong>Dịch vụ Thiết kế nội thất:</strong> La Divad' Design tự tin đ&aacute;p ứng được những đ&ograve;i hỏi khắt khe của kh&aacute;ch h&agrave;ng, thể hiện bằng những bản vẽ chặt chẽ v&agrave; chi tiết. Đặc biệt, c&ocirc;ng ty li&ecirc;n tục cập nhật những xu hướng phong c&aacute;ch thiết kế nội thất mới nhất, gi&uacute;p qu&yacute; kh&aacute;ch h&agrave;ng sở hữu những sản phẩm nội thất hợp thời đại, mang phong c&aacute;ch độc đ&aacute;o v&agrave; kh&aacute;c biệt.</p>

                                            <p style="font-size: 14px;color:#807e7e;"><strong>Thi c&ocirc;ng nội thất:</strong> Nếu thiết kế ch&uacute; trọng v&agrave;o từng mm th&igrave; khi thi c&ocirc;ng, đội ngũ La Divad' Design đảm bảo t&iacute;nh ch&iacute;nh x&aacute;c trong từng chi tiết của nguy&ecirc;n vật liệu.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="avarta"><img src="~/Content/uploads\about\dichvu-about.jpg" class="img-fluid" width="100%" alt="Dịch vụ của chúng tôi"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="info-ab">
                                        <h2>Đội ngũ nhân sự</h2>
                                        <div class="indo-item-about">
                                            <p style="font-size: 14px;color: #807e7e">La Divad' Design quy tụ đội ngũ nh&acirc;n sự l&agrave;nh nghề l&agrave; những kiến tr&uacute;c sư, nh&acirc;n vi&ecirc;n thiết kế c&oacute; tr&igrave;nh độ chuy&ecirc;n m&ocirc;n cao, t&aacute;c phong chuy&ecirc;n nghiệp v&agrave; sẵn s&agrave;ng lắng nghe, thấu hiểu kh&aacute;ch h&agrave;ng. Đội ngũ ch&uacute;ng t&ocirc;i cũng kh&ocirc;ng ngừng trau dồi để n&acirc;ng cao tr&igrave;nh độ với mong muốn nỗ lực đ&aacute;p ứng nhu cầu ng&agrave;y c&agrave;ng đa dạng của kh&aacute;ch h&agrave;ng. Đội ngũ La Divad' Design cam kết mang đến cho kh&aacute;ch h&agrave;ng những sản phẩm thiết kế v&agrave; thi c&ocirc;ng nội thất ưng &yacute; với mức chi ph&iacute; cạnh tranh nhất.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="avarta"><img src="~/Content/uploads\about\nhansuchamhet.jpg" class="img-fluid" width="100%" alt="Đội ngũ nhân sự"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="info-ab">
                                        <h2 style="font-size: 28px">Thành tựu của La Divad' Design</h2>

                                        <div class="indo-item-about">
                                            <p style="font-size: 14px;color:#807e7e;">Dịch vụ của La Divad' Design trải d&agrave;i từ thiết kế v&agrave; thi c&ocirc;ng&nbsp;biệt thự, căn hộ chung cư cao cấp, nh&agrave; ri&ecirc;ng cho tới văn ph&ograve;ng c&ocirc;ng ty. Một số c&ocirc;ng tr&igrave;nh ti&ecirc;u biểu c&oacute; thể kể đến l&agrave; Times City, Royal City, Golden Westlake, Vinhomes Riverside, Golden Land, Gamuda Gardern,&hellip; Dịch vụ v&agrave; sản phẩm của La Divad' Design được kh&aacute;ch h&agrave;ng đ&aacute;nh gi&aacute; cao về &yacute; tưởng thiết kế, c&ocirc;ng năng sử dụng tối ưu v&agrave; t&iacute;nh thẩm mỹ cao.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="avarta"><img src="~/Content/uploads\about\phong khach bep (9).jpg" class="img-fluid" width="100%" alt="Thành tựu của Ladivad"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <!--<div class="row">
                                <div class="col-md-6">
                                    <div class="info">
                                        <div class="info-ab">
                                            <h2>Xưởng sản xuất</h2>
                                            <div class="indo-item-about">
                                                <p>Thay v&igrave; phải đi nhập khẩu c&aacute;c sản phẩm nội thất từ những&nbsp;đơn vị kh&aacute;c, Ladivad Design sở hữu xưởng sản xuất đồ gỗ nội thất được trang bị những c&ocirc;ng nghệ sản xuất hiện đại với quy m&ocirc; tr&ecirc;n 2000m2. Từ nguy&ecirc;n liệu ch&iacute;nh l&agrave; 2 loại gỗ tự nhi&ecirc;n v&agrave; gỗ c&ocirc;ng nghiệp, 60 c&ocirc;ng nh&acirc;n v&agrave; thợ l&agrave;nh nghề thi c&ocirc;ng c&aacute;c bản vẽ thiết kế th&agrave;nh những sản phẩm chất lượng, thẩm mỹ cao v&agrave; đảm bảo về t&iacute;nh bền bỉ theo thời gian.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="avarta"><img src="uploads\about\1585989676-C0194T01.JPG" class="img-fluid" width="100%" alt="Xưởng sản xuất"></div>
                                </div>
                            </div>
                        </div>-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info">
                                        <div class="info-ab">
                                            <h2>Tầm nhìn và sứ mệnh</h2>
                                            <div class="indo-item-about">
                                                <p style="font-size: 14px;color:#807e7e;">"𝓝𝓮̂́𝓾 𝓷𝓸́ 𝓵𝓪̀ 𝓷𝓰𝓱𝓮̣̂ 𝓽𝓱𝓾𝓪̣̂𝓽,𝓷𝓸́ 𝓴𝓱𝓸̂𝓷𝓰 𝓭𝓪̀𝓷𝓱 𝓬𝓱𝓸 𝓽𝓪̂́𝓽 𝓬𝓪̉ 𝓿𝓪̀ 𝓷𝓮̂́𝓾 𝓷𝓸́ 𝓭𝓪̀𝓷𝓱 𝓬𝓱𝓸 𝓽𝓪̂́𝓽 𝓬𝓪̉, 𝓽𝓱𝓲̀ 𝓷𝓸́ 𝓴𝓱𝓸̂𝓷𝓰 𝓹𝓱𝓪̉𝓲 𝓵𝓪̀ 𝓷𝓰𝓱𝓮̣̂ 𝓽𝓱𝓾𝓪̣̂𝓽"</p>
                                                <p style="font-size: 14px;color: #807e7e;"> VẬY NGHỆ THUẬT LÀ GÌ?</p>
                                                <p style="font-size: 14px;color:#807e7e;">
                                                    Nhiều lúc ta hay đặt câu hỏi như “Bức tranh này có gì mà nổi tiếng vậy ?”, “ Sao người ta bỏ ra nhiều tiền để mua bức tranh này vậy ?”, “Sao họa sỹ này sống thì chẳng ai biết, lúc chết rồi thì lại nổi tiếng ?”, “Bức này xấu hoắc, toàn hình nguệch ngoạc mà lại là tác phẩm nghệ thuật?”… và hàng loạt các câu hỏi khác tương tự.

                                                    Kỳ thực, không một định nghĩa nào về nghệ thuật có thể đầy đủ và khái quát hết. Nhưng nhìn chung, nghệ thuật là sản phẩm của trí óc được tạo ra để diễn tả ý tưởng của con người và thế giới xung quanh.

                                                    La Divad' đi theo hướng nghệ thuật này cũng như muốn đề cao những đức tính của một người nghệ sĩ trong một thế giới hỗn độn, đầy cám dỗ. Muốn nổi bật thì phải có đầy lòng can đảm và cá tính mạnh mẽ. Họ là những người dám nói lên sự thực, dám bày tỏ quan điểm khác biệt, và luôn trung thành với những nhận định của riêng mình.
                                                </p>
                                                <p style="font-size: 14px;color:#807e7e;">  Họ đồng thời cũng là những người có một tầm nhìn sâu và đi trước thời đại. Với những tính cách này người nghệ sĩ có thể tạo ra những kiệt tác trụ lại với sự khắc nghiệt của nhân loại và sự trường tồn của thời gian.️</p>
                                                <p style="font-size: 14px;color: #807e7e">
                                                    Từ niềm đam mê và tầm nhìn hoàn toàn mới lạ về định nghĩa vẻ đẹp, cùng với sự cố gắng và nỗ lực chúng tôi lập lên La Divad'.

                                                    Với tôn chỉ cùng đội ngũ phát triển không gian mang với vẻ đẹp trường tồn theo thời gian. Mang những phút giây thảnh thơi, nhẹ nhõm, để mọi người chìm đắm vào thế giới nghệ thuật, thế giới mang màu sắc riêng của mỗi người đằng sau cánh cửa, xua tan đi những xô bồ trong cuộc sống thường ngày!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="avarta"><img src="~/Content/uploads\about\tamnhin.jpg" class="img-fluid" width="100%" alt="Tầm nhìn và sứ mệnh"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="moveto-top">
        <a href="#top" class="movetotop-btn">
            <img style="max-width: 70px" src="uploads\contact\up-arrow.png">
        </a>
    </div>-->
</main>
