@model IEnumerable<Model.DataModel.NewsDTO>




@foreach (var item in Model)
{
    <div class="big wow fadeIn" data-wow-delay="2s">
        <div class="avarta">
            <a href="/Project/Details/@item.Url"><img src="~/uploads/news/@item.ImgMain" class="img-fluid" width="100%" alt="chị Hồng Anh"></a>
        </div>
        <div class="info">
            <h3>
                <a style="font-family: 'Times New Roman'; font-size: 16px" href="/Project/Details/@item.Url">@item.Title</a>
            </h3>
        </div>
    </div>
}