
@{
    ViewBag.Title = "Bảng báo giá thiết kế nội thất của La Divad' Design";
}

<main>
    <section id="banner-cate">
        <div class="avarta"><img src="~/Content/Bai-viet/Bai-tong-hop-cac-phong-cach-thiet-ke/banner1.jpg" class="img-fluid" width="100%" alt="CÔNG TY Cổ Phần Kiến Trúc la Divad'"></div>
    </section>
    <section id="breadcrumbs">
        <div class="container">
            <div class="content">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/"><img src="~/Content/public/frontend/images/home.png" class="img-fluid" alt="Dịch vụ"></a> </li>
                    <li class="list-inline-item"><span style="color: white"> Dịch vụ</span></li>
                </ul>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="content">
                    <div class="list-about">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <div class="title">
                                        <h2 style=" font-family: 'Times New Roman'; color: #000000;"><span>𝐋𝐀 𝐃𝐈𝐕𝐀𝐃' 𝐃𝐄𝐒𝐈𝐆𝐍</span></h2>
                                        <p style="color: black; text-align: center">"NGHỆ THUẬT TRONG TỪNG KHÔNG GIAN SỐNG"</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="indo-item-about">
                                        <h2 style="color: black; text-align: left;font-size: 40px"> <b>Bảng báo giá thiết kế nội thất của La Divad' Design</b></h2>
                                        <h4 style="color: black;font-size: 20px"><b>1. Bảng báo giá thiết kế nội thất nhà ở:</b></h4>
                                        <img src="~/Content/bao-gia/bao-gia-noi-that.jpg">
                                        <h4 style="color: black;font-size: 20px"><b>2. Bảng báo giá thiết kế nội thất Shop:</b></h4><b>
                                            <img src="~/Content/bao-gia/bao-gia-shop.jpg">
                                            <h4 style="color: black;font-size: 20px"><b>3. Bảng báo giá thiết kế nội thất Coffee:</b></h4>
                                            <img src="~/Content/bao-gia/bao-gia-coffee.jpg">
                                            <h4 style="color: black"><b>4. Chế độ ưu đãi với gói thiết kế cao cấp:</b></h4>
                                            <img src="~/Content/bao-gia/tron-goi.jpg">
                                            <h4 style="color: black"><b>5. Quy trình làm việc của đội ngũ thiết kế La Divad' Design</b></h4>
                                            <img src="~/Content/bao-gia/quy-trinh.jpg">
                                            <h4 style="color: black;font-size: 20px">Tham khảo thêm bảng báo giá thiết kế kiến trúc 
                                        <a href="/Service/Exterior">tại đây</a> hoặc gọi điện vào đường dây nóng của chúng tôi:<a href="tel:0833993998" target="_blank"> 0833.993.998</a> </h4>
                                            <br>
                                        </b>
                                    </div><b>
                                    </b>
                                </div><b>
                                </b>
                            </div><b>
                            </b>
                        </div><b>

                        </b>
                    </div><b>
                    </b>
                </div><b>
                </b>
            </div><b>
            </b>
        </section><b>
        </b>
    </section><b>
        <!--<div class="moveto-top">
            <a href="#top" class="movetotop-btn">
                <img style="max-width: 70px" src="..\uploads\contact\up-arrow.png">
            </a>
        </div>-->
    </b>
</main>
